include/platform/basis/platform/sctl.h
run_sd.sh
scripts/outputfile.txt
scripts/test.lua
src/platform/basis/targets/simple-iram/muart_loopback_test.c
src/platform/basis/targets/simple-iram/simple_test.c
test/

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

build/
*.gch
.clang_complete
.tag
